psycopg2-binary==2.9.10
psycopg2==2.9.9
rpi-lgpio==0.6
RPi.GPIO==0.7.1a4
lgpio==0.2.2.0
gpiozero==2.0.1
Pillow==9.4.0
docker==7.1.0
schedule==1.2.2
seaborn==0.13.2
selenium==4.24.0
SQLAlchemy==2.0.34
requests==2.28.1
PyVirtualDisplay==3.0
bs4==0.0.2
jupyter_client==8.6.2
jupyter_core==5.7.2
opencv-python==4.10.0.84