apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    uid: prometheus-ds

  - name: BaseTemp
    type: yesoreyeram-infinity-datasource
    access: proxy
    isDefault: false
    editable: true
    url: http://localhost:8003
    jsonData:
      allowUnsafeHttpMethods: true